Grid {
    grid-size: 2;
    grid-rows: 1fr 1fr;
    grid-columns: 1fr 1fr;
}

Button {
    background: transparent;
    border: solid $panel;
    color: $text;
    width: 100%;
    text-style: none;
}

Tabs {
    padding-top: 1;
}

.title {
    border: solid $panel;
    text-align: center;
    width: 100%;
}
