Grid {
    grid-size: 2;
    grid-rows: 1fr 1fr;
    grid-columns: 1fr 1fr;
}

.grid-section {
    border: solid $panel;
    padding: 1;
    width: 100%;
    height: 100%;
}

.grid-item {
    border: solid $panel;
    height: 3fr;
    text-align: center;
    content-align: center middle;
    align: center middle;
}

.grid-title {
    border: solid $panel;
    max-height: 1fr;
}